<div class="form-group col-sm-$!{param.span}" #attr("ng-show='${param.show}'" $!{param.show}) ng-class="{'has-error':mainForm.$!{ele.id}_text.$invalid}">
	<div #id($!{ele.id}) c2-multiple-upload-file-iframe is-down="false" title="${param.title}" disabled="${param.disabled}"  #attr("is-single=${param.isSingle}" $!{param.isSingle}) #attr("on-success='functions.${param.onSuccess}'" $!{param.onSuccess}) #attr("on-error='functions.${param.onError}'" $!{param.onError}) process="${param.process}" max-size="${param.maxSize}" max-num="${param.maxNum}" min-num="${param.minNum}" is-delete="true" #attr("allow=${param.allow}" $!{param.allow}) #attr("deny=${param.deny}" $!{param.deny})>
	</div>
</div>